/*body{background-image:url(Sainte_Victoire.png);background-repeat: no-repeat}*/

body{background-color:whitesmoke}

h1{color:hotpink;text-align:center}
h2{color:black}
h3{color:lightcoral;}
.monparagraphe{color:bue}

.dauphins{border : 10px solid green ;text-align:center}
.madiv{text-align:center}