/*body{background-image:url(Sainte_Victoire.png);background-repeat: no-repeat}*/

body{background-color:lightgray}

h1{color:purple;border: 5px solid black;text-align:center}

.monparagraphe{color:bue;}

.dauphins{border : 10px solid green ;text-align:center}
.madiv{text-align:center}